{% extends "summit/award-base.html" %}

{% block head_title %}
Green Faculty/Staff Award
{% endblock %}


{% block award_header %}
Green Faculty/Staff Award
{% endblock %}


{% block award_detail %}
Worked with an amazing faculty member who has had a significant impact on you relating to sustainability? Recognize a faculty member who has demonstrated outstanding leadership in sustainability by nominating them.
{% endblock %}


{% block criteria_list %}

{% endblock %}


{% block eligibility_list %}

{% endblock %}


{% block logistics_list %}

{% endblock %}


{% block restriction_list %}

{% endblock %}

